.resta-um .board {
    display: flex;
    flex-direction: column;
}
.resta-um .row {
    display: flex;
    justify-content: center;
}
.resta-um .cell {
    padding: 8px
}
.resta-um .highlight {
    background-color: rgb(255, 168, 168);
}
.resta-um .hole {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: solid black 1px;
    box-sizing: border-box;
}