.minesweeper .container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    
    border-top: solid 4px #DDD;
    border-left: solid 4px #DDD;
    border-bottom: solid 4px #888;
    border-right: solid 4px #888;
    background-color: #BBB;
}

.minesweeper .container > * {
    margin: 5px;
}