.minesweeper .display-area {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: solid 4px #DDD;
    border-right: solid 4px #DDD;
    border-top: solid 4px #888;
    border-left: solid 4px #888;
    background-color: #BBB;
}