@font-face {
    font-family: 'Digital Display';
    src: url('../fonts/digital-7 (mono).ttf');
}

.minesweeper .display {
    position: relative;
    height: 36px;
    width: 61px;
    background-color: black;
    
    
    border-bottom: solid 2px #DDD;
    border-right: solid 2px #DDD;
    border-top: solid 2px #888;
    border-left: solid 2px #888;
}

.minesweeper .text {
    position: absolute;
    margin: 0;
    color: red;
    font-weight: 500;
    font-size: 40px;
    line-height: 36px;
    width: 61px;
    text-align: center;
    font-family: 'Digital Display';
}

.minesweeper .placeholder {
    color: rgb(80, 0, 0);
}